.search-main {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.search-input {
  width: 100%;
  height: 34px;
  display: flex;
}
.input {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}
.search-btn {
 margin-left: 10px;
  border-color: #ccc !important;
}